/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */

.flowcellsearch td {
	font-weight: normal;
	color: #568;
	padding: 5px;
	
}

.flowcellsearch {
	background-color: #F8FAFF;
	backgr-color: #F8FAFF;
	border-syle: solid;
    border-width: 5px;
    border-color: #00A;
}

.samplesearch td {
	font-weight: normal;
	color: #568;
	padding: 5px;
}

.samplesearch {
	background-color: #F8FAFF;
	backgr-color: #F8FAFF;
	border-syle: solid;
    border-width: 5px;
    border-color: #00A;
}

.samplereportitem{
	border-style: dotted;
	border-width: 1px;
	border-color: #BBCCEE;
	
}

.samplereportitem tr:first-child td:first-child{
	font-weight: bold;
	padding:1px;
}

.samplereportitem td:first-child{
	padding: 1px;
}

.samplereportitem td {
	font-weight:normal;
	padding: 1px;
	word-spacing: 1px;	
}

.samplereportvp{
	padding-bottom: 4px;
}

.flowcellitem {
	width: 800px;
	background-color: #CCDDFF; 	
}

.flowcellitem tr:first-child td:first-child {
	font-weight: bold;	
}

.flowcellitemlane {
	width: 800px;
}

.flowcellitemlane tr:first-child {
	font-weight: bold;	
}


.flowcellitemlane td {
	padding: 3px;
	border-style: dotted;
	border-width: 1px;
	border-color: #BBCCEE;	
}

.qctable tr:first-child td {
        font-weight: bold;
        background-color: #BBCCEE;      
}
.qctable td {
        font-size: x-small;
        border-syle: dotted;
        border-width: 1px;
        border-color: #BBCCEE;
        white-space:nowrap;
        text-align: right;
}
.qctable table {
        border-syle: dotted;
        border-width: 1px;
        white-space:nowrap;
        border-color: #BBCCEE;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.fileGroupsDisplay {
	margin-top: 5px;
}

.fileGroupsDisplay .gwt-Label {
	margin-top: 3px;
}

.fileGroupsDisplay .gwt-Image {
	margin-top: 3px;
	margin-right: 2px;
}

.displayContext {
	margin-left: 3px;
	color: #808080;
	font-size: 11px;
	padding-top:1px; 	
}

.contentTableDisplay {
	margin-left: 15px;
}

.contentTableDisplay .gwt-Label{
	text-decoration: underline;
	font-weight:thicker;
	font-style: normal;
}

.displayfilehorizontal {
	background-color:#D3D3D3
	margin-left: 5px;
}
.viewdisplaylabel {
	font-size: 12px;
	color: #0000BB;
	padding-bottom: 3px;
	
	}

.viewSwitchlabel {
	font-size: 11px;
	color: #0000BB;
	text-decoration: underline;
	text-align: right;
}

.viewchartlabel {
	font-size: x-small;
	color: #0000BB;	
}

.sanityta
{
	width: 800px;
	height: 600px;
}

/* PBS REPORT STYLES */

.LaneTable {
	background-color: #F8FAFF;
	/* border: solid #AABBFF; */
}

.TitleHeader {
	background-color: #D0E0EF; 
	color: #555577;
	font-size: 14;
	font-family: verdana;
	font-style: oblique;
	font-weight: bold;
	margin: 0 auto;
	padding: 3px;
}

.Running {
	background-color: #F8FAFF; 
	color: #00DD00;
	font-size: 12;
	font-family: verdana;
	margin: 0 auto;
	padding: 3px;
}

.Queued {
	background-color: #F8FAFF; 
	color: #0000DD;
	font-size: 12;
	font-family: verdana;
	margin: 0 auto;
	padding: 3px;
}

.Hold {
	background-color: #F8FAFF; 
	color: #DD0000;
	font-size: 12;
	font-family: verdana;
	margin: 0 auto;
	padding: 3px;
}

.Error {
	background-color: #F8FAFF; 
	color: #DDDD00;
	font-size: 12;
	font-family: verdana;
	margin: 0 auto;
	padding: 3px;
}

.Normal {
	background-color: #F8FAFF; 
	color: #000000;
	font-size: 12;
	font-family: verdana;
	margin: 0 auto;
	padding: 3px;
}

.Jobid {
	background-color: #F8FAFF; 
	text-decoration: underline;
	color: #000000;
	font-size: 12;
	font-weight: bold;
	font-family: verdana;
	margin: 0 auto;
	padding: 3px;
}

.gwt-DisclosurePanel td {
	padding: 0px
	border-style: none;
	border-width: 0px;	
}

.gwt-StackLayoutPanel * *{
	height: 30px; 
	border: 0px;
}

.gwt-StackLayoutPanel  {
	border: 3px;
}

.gwt-DisclosurePanel#controlpanel .content .gwt-Label{
	width: 150px;
	height: 20px;
}

.gwt-DisclosurePanel-closed#controlpanel .header {
	font-weight: bold;
	background-color: #ABD;
	-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg);
	width: 100px;
	position: fixed;
	top: 200px;
	left: -35px;	
}

.gwt-DisclosurePanel-open#controlpanel .header {
	font-weight: bold;
	background-color: #ABD;
}

.gwt-DecoratedTabPanel {
	min-width: 600px;
	min-height: 500px; 
	
}

.gwt-DecoratedTabBar .gwt-Label{
	white-space:nowrap;
}

.popupdisplaypanel{
	/*position: absolute;*/
	visibility: visible;
	
	}

.closeTabs {

/*	position: absolute;
	top:10;
	right:10;
	width:500px;
	height: 700px;
	visibility: visible;*/
}

